<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings">
            <section name="Core.Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Core.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="BluetoothConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialComPort" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>736</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1382</value>
            </setting>
            <setting name="AppInsightUserConsent" serializeAs="String">
                <value>Accepted</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>236</value>
            </setting>
            <setting name="ColumnDetails" serializeAs="String">
                <value>&lt;?xml version="1.0"?&gt;
&lt;ArrayOfGridColumnDetails xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;GridColumnDetails&gt;
    &lt;ColumnName&gt;ColumnExpander&lt;/ColumnName&gt;
    &lt;Visibility&gt;Visible&lt;/Visibility&gt;
    &lt;Width&gt;25&lt;/Width&gt;
    &lt;CustomWidth&gt;25&lt;/CustomWidth&gt;
  &lt;/GridColumnDetails&gt;
  &lt;GridColumnDetails&gt;
    &lt;ColumnName&gt;ColumnIndex&lt;/ColumnName&gt;
    &lt;Visibility&gt;Visible&lt;/Visibility&gt;
    &lt;Width&gt;45&lt;/Width&gt;
    &lt;CustomWidth&gt;45&lt;/CustomWidth&gt;
  &lt;/GridColumnDetails&gt;
  &lt;GridColumnDetails&gt;
    &lt;ColumnName&gt;ColumnName&lt;/ColumnName&gt;
    &lt;Visibility&gt;Visible&lt;/Visibility&gt;
    &lt;Width&gt;160&lt;/Width&gt;
    &lt;CustomWidth&gt;160&lt;/CustomWidth&gt;
  &lt;/GridColumnDetails&gt;
  &lt;GridColumnDetails&gt;
    &lt;ColumnName&gt;ColumnValue&lt;/ColumnName&gt;
    &lt;Visibility&gt;Visible&lt;/Visibility&gt;
    &lt;Width&gt;120&lt;/Width&gt;
    &lt;CustomWidth&gt;120&lt;/CustomWidth&gt;
  &lt;/GridColumnDetails&gt;
  &lt;GridColumnDetails&gt;
    &lt;ColumnName&gt;ColumnUnit&lt;/ColumnName&gt;
    &lt;Visibility&gt;Visible&lt;/Visibility&gt;
    &lt;Width&gt;50&lt;/Width&gt;
    &lt;CustomWidth&gt;50&lt;/CustomWidth&gt;
  &lt;/GridColumnDetails&gt;
  &lt;GridColumnDetails&gt;
    &lt;ColumnName&gt;ColumnMin&lt;/ColumnName&gt;
    &lt;Visibility&gt;Visible&lt;/Visibility&gt;
    &lt;Width&gt;60&lt;/Width&gt;
    &lt;CustomWidth&gt;60&lt;/CustomWidth&gt;
  &lt;/GridColumnDetails&gt;
  &lt;GridColumnDetails&gt;
    &lt;ColumnName&gt;ColumnMax&lt;/ColumnName&gt;
    &lt;Visibility&gt;Visible&lt;/Visibility&gt;
    &lt;Width&gt;60&lt;/Width&gt;
    &lt;CustomWidth&gt;60&lt;/CustomWidth&gt;
  &lt;/GridColumnDetails&gt;
  &lt;GridColumnDetails&gt;
    &lt;ColumnName&gt;ColumnDefault&lt;/ColumnName&gt;
    &lt;Visibility&gt;Visible&lt;/Visibility&gt;
    &lt;Width&gt;105&lt;/Width&gt;
    &lt;CustomWidth&gt;105&lt;/CustomWidth&gt;
  &lt;/GridColumnDetails&gt;
  &lt;GridColumnDetails&gt;
    &lt;ColumnName&gt;ColumnOfflineValue&lt;/ColumnName&gt;
    &lt;Visibility&gt;Visible&lt;/Visibility&gt;
    &lt;Width&gt;105&lt;/Width&gt;
    &lt;CustomWidth&gt;105&lt;/CustomWidth&gt;
  &lt;/GridColumnDetails&gt;
&lt;/ArrayOfGridColumnDetails&gt;</value>
            </setting>
            <setting name="DontRemindVersionUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>C:\Users\Gyan\Desktop\acs 560.dcxml</value>
            </setting>
        </Core.Properties.Settings>
        <Core.Lib.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en_en</value>
            </setting>
        </Core.Lib.Properties.Settings>
    </userSettings>
</configuration>